* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  color: #fff;
  font-family: sans-serif;

}

.about {
  padding: 2rem 2.2rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/bf15ceba1ffc5b0fa9c292fc/dfsdfdf-min.jpg");
  min-height: 100vh;
  transition: all 300ms ease-in-out;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
padding: 0 3rem;
min-height: 60px;
}

.primary-heading {
  font-size: 4.4rem;
  
}


.para {
  font-size: 1.5rem;

}